.card {
  border: 0.0625rem solid var(--color-dark-500, #333);

  .containerInput {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    min-width: 21.75rem;

    .checkbox {
      position: relative;
      left: -9px;
    }
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > :first-child {
      margin-left: auto;
      padding-bottom: 66px;
    }

    .text {
      margin-top: 20px;
    }

    .button {
      text-decoration: underline;
    }
  }
}
