.card {
  border: 0.0625rem solid var(--color-dark-500, #333);

  .text {
    margin-top: 0.9375rem;
    margin-bottom: 2.8124rem;
    opacity: 0.5;
  }

  .textSecondary {
    margin-top: 20px;
  }

  .button {
    text-decoration: underline;
  }
}
