@import '../../../styles/mixins';

.title {
  margin-bottom: 0.3125rem;
}

.root {
  display: inline-flex;
  flex-direction: column;

  .list {
    display: flex;
    margin-bottom: 1.25rem;

    .trigger {
      @include transition(color);
      @include transition(background-color);
      @include transition(border-color);

      user-select: none;
      padding: 0.375rem 1.5rem;
      background-color: var(--color-dark-900);
      border: 0.0625rem solid var(--color-dark-300);

      .triggerTitle {
        transition: color 0.2s ease-in-out;
      }

      &:first-child {
        border-top-left-radius: 0.125rem;
        border-bottom-left-radius: 0.125rem;
      }

      &:last-child {
        border-top-right-radius: 0.125rem;
        border-bottom-right-radius: 0.125rem;
      }

      &[data-state='active'] {
        background-color: var(--color-accent-500);
        border-color: var(--color-accent-500);
      }

      &:focus {
        position: relative;
        background-color: var(--color-dark-700);
        border-color: var(--color-info-700);
        outline: none;
      }

      &:active {
        background-color: var(--color-accent-500);
        border-color: var(--color-accent-500);
      }

      &:disabled {
        color: var(--color-dark-300);
        background-color: var(--color-dark-700);
        border-color: var(--color-dark-300);
      }

      &:hover:not(:disabled, :active, [data-state='active']) {
        background-color: var(--color-dark-300);
        border-color: var(--color-dark-100);

        .triggerTitle {
          @include transition(color);

          color: var(--color-light-900);
        }
      }
    }
  }
}
